{% extends 'images/base.html' %}

{% block content %}
<p>Imamo puno slika u bazi: 
    {{ count }} komada!
</p>
<a href="{% url 'images:list' %}">
    <h1>Pogledaj ih i ti!</h1>
</a>
    
{% endblock content %}