{% extends 'images/base.html' %}

{% block content %}
    <h1>Dodaj novu sliku</h1>
    <form action="{% url 'images:create' %}" method="post">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" name="title" id="">
        <br>
        <label for="desc">Description: </label>
        <input type="text" name="desc" id="">
        <br>
        <label for="url">URL: </label>
        <input type="text" name="url" id="">
        <br>
        <label for="date">Created at:</label>
        <input type="date" name="pub_date" id="">
        <br><br>
        <input type="submit" value="Objavi sliku">
    </form>
{% endblock content %}