{% extends 'images/base.html' %}

{% block title %} Slike {% endblock title %}

{% block content %}
    <h1>Ovo je popis svih slika</h1>
    {% for image in images %}
        <div>
            <a href="/images/{{ image.id }}"><h3>{{ image.title }}</h3></a>
            <img src="{{ image.url }}" style="width: 200px;">
            <p><strong>
                {{ image.created_at }}
                </strong> 
                | {{ image.desc }}
            </p>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}